@model MovieShop.ApplicationCore.Models.MovieCardModel

<div class="card h-100 shadow-sm movie-card">
    <div class="movie-poster-wrapper">
        <img src="@Model.PosterUrl" class="card-img-top" alt="@Model.Title" />
    </div>
    <div class="card-body">
        <h5 class="card-title">@Model.Title</h5>
        <p class="card-text">Rating: @Model.Rating</p>
        <a asp-controller="Movies" asp-action="Index" class="btn btn-dark">View Details</a>
    </div>
</div>