@model MovieShop.ApplicationCore.Models.LoginModel

<div class="auth-bg d-flex align-items-center justify-content-center m-3">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-11 col-sm-8 col-md-6 col-lg-4">
                <div class="card glass-card p-4 p-sm-5">
                    <div class="text-center mb-4">
                        <h2 class="fw-bold text-danger">Sign In</h2>
                    </div>

                    @if (TempData["Message"] != null)
                    {
                        <div class="alert alert-success py-2 small">@TempData["Message"]</div>
                    }

                    <div asp-validation-summary="ModelOnly" class="text-danger small mb-3"></div>

                    <form method="post">
                        <div class="form-floating mb-3">
                            <input asp-for="Email" class="form-control bg-light  text-dark" placeholder="Email" />
                            <label asp-for="Email" class="text-dark small"> Email Address</label>
                            <span asp-validation-for="Email" class="text-danger small"></span>
                        </div>

                        <div class="form-floating mb-4">
                            <input asp-for="Password" type="password" class="form-control bg-light text-dark" placeholder="Password" />
                            <label asp-for="Password" class="text-dark small ">Password</label>
                            <span asp-validation-for="Password" class="text-danger small"></span>
                        </div>

                        <button type="submit" class="btn btn-danger w-100 py-2">Sign In</button>
                        
                        <div class="d-flex justify-content-between align-items-center m-3">
                            <div class="form-check ">
                                <input class="form-check-input" type="checkbox" id="rememberMe">
                                <label class="form-check-label  fw-bold text-dark small" for="rememberMe">Remember me</label>
                            </div>
                            <a href="#" class="text-primary  text-decoration-nonesmall">Forgot password?</a>
                        </div>
                    </form>

                    <div class="mt-5 text-center border-top pt-3">
                        <p class="text-dark small">New to MovieShop? <a asp-action="Register" class="text-lightk fw-bold text-decoration-none">Sign up now</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>